.search {
  position: sticky;
  top: 30px;
  margin: 30px auto 0;
  display: flex;
  justify-content: center;
  max-width: 300px;
  &-form {
    width: 100%;
    &--input {
      width: 100%;
      border: none;
      height: 45px;
      padding: 3px 20px 0;
      border-radius: $default-radius;
      box-shadow: 2px 2px 15px -7px $shadow-color;
      font-family: $default-font, Arial, Helvetica, sans-serif;
      overflow: visible;
      transition: box-shadow ease .2s;
      &::placeholder {
        overflow: visible;
      }
      &:focus {
        outline: none;
        box-shadow: 4px 4px 20px -5px $shadow-color;
      }
    }
  }
}