.search {
  position: sticky;
  top: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
  &--input {
    border: none;
    height: 45px;
    width: 300px;
    padding: 3px 20px 0;
    border-radius: $default-radius;
    box-shadow: 2px 2px 15px -7px $shadow-color;
    font-family: $default-font, Arial, Helvetica, sans-serif;
    overflow: visible;
    transition: box-shadow ease .2s;
    &::placeholder {
      overflow: visible;
    }
    &:focus {
      outline: none;
      box-shadow: 4px 4px 20px -5px $shadow-color;
    }
  }
}